{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 logo-font text-black">
                    Embarr's Donations
                </h1>
                </div>
            </div>
        </div>
    </div>
    
<div>
<footer class="footer mt-auto py-3 dark-bg">
   <p class="m-0 text-center text-grey">Follow us: 
     <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Embarr Equestrian page"><i class="fab fa-facebook-square ms-3" ></i></a>
     <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Go to the Twitter Embarr Equestrian page"><i class="fab fa-twitter-square ms-3"></i></a>
     <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Go to the instagram Embarr Equestrian Page"><i class="fab fa-twitter-square ms-3"></i></a>
     <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Go to the youtube Embarr Equestrian Page"><i class="fab fa-youtube-square ms-3"></i></a>
   </p>
   
 </footer>
</div>-->
    
{% endblock %}

