{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container mb-5 bg-body rounded">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
              <a href="{% url 'about' %}"></a>
          </div>
      </div>
<div class="row justify-content-left mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        <h4>Enter Your Welfare Case Details</h4>
    </div>
</div>
<div class="row justify-content-left mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2"><button class="btn btn-black rounded-0 text-uppercase float-left">Submit!</button></div>
        </form>
    </div>
</div>
{% endblock content %}