{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container mb-5 bg-body rounded">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
            <a href="{% url 'post_detail' object.pk %}"></a>
        </div>
    </div>
    <div class="row justify-content-left mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <h4>Update Your Comment</h4>
        </div>
    </div>
    <div class="row justify-content-left mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2"><button class="btn btn-success mt-3">Submit!</button></div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}