{% extends 'base.html' %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12 card mb-4  mt-3">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
      </div> {% if user.is_authenticated %} <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body"> {% if new_comment %} <div class="alert alert-success" role="alert"> Your comment is awaiting moderation </div> {% else %} <h3>Leave a comment</h3>
          <p>Posting as: {{ user.username }}</p>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }} {% csrf_token %} <br>
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form> {% endif %} {% endif %}
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 card mb-4  mt-3">
            <div class="card-body">
              <!-- comments -->
              <h2>{{ comments.count }} comment(s)</h2>
              <p>---------------------------------</p>
              {% for comment in comments %} <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                  {{ comment.name }} | <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                  </span>
                </p>
               
                {{ comment.body | linebreaks }} {% if user.is_authenticated and user.username == comment.name %} 
                
                <small class="ml-3">
                    <a href="{% url 'edit_comment' comment.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                </small>
                <!--<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete-comment">
                  <i class="fas fa-trash"></i>
                </button>
                Delete comment bootstrap modal-->
                <!-- Delete comment bootstrap modal
                <div class="modal fade" id="delete-comment"
                tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete Comment</h5>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your comment?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger" aria-label="Delete Comment">Delete</a>
                        </div>
                    </div>
                </div>
            </div>-->
                </div> {% endif %} <p>---------------------------------</p>
              </div> {% endfor %}
            </div>
          </div>
        </div>
      </div>
  {% endblock content %}

  